# .coveragerc to control coverage.py

[run]
disable_warnings = module-not-measured
source = openmdao
omit =
    */tests/*
    */devtools/*
    */test_suite/*
    */docs/*
    */code_review/*
    */dymos/*
    */aviary/*
    */pycycle/*

[report]
ignore_errors = True
include = *.py
omit =
    */tests/*
    */devtools/*
    */test_suite/*
    */docs/*
    */code_review/*
    */dymos/*
    */aviary/*
    */pycycle/*
