[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:

[run]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */tests/*
    openmdao/code_review/*
    openmdao/devtools/*
    openmdao/docs/*
    openmdao/test_suite/*
