*.pyc
*~
.DS_Store
.dropbox
.idea
.vscode/
.spyproject/
wingproj.wpr
openmdao.egg-info/*
openmdao/docs/_build/
openmdao/docs/_srcdocs/usr/
openmdao/docs/_srcdocs/dev/
openmdao/docs/_srcdocs/packages/
openmdao/docs/_srcdocs/index.rst
openmdao/docs/tags/
*.out
doc_plot_*
coloring.json
connections.html
rank*.dat
.coverage
n2.html
coloring_files
*.ipynb_checkpoints
cases.sql_0
cases.sql_1
cases.sql_meta
*.db
openmdao/docs/openmdao_book/*/*/cases.sql
openmdao/docs/openmdao_book/other_useful_docs/sqlite_test
driver_scaling_report.html
*.dat
.ipynb_checkpoints/