*.pyc
*~
.DS_Store
.dropbox
.idea
wingproj.wpr
openmdao.egg-info/*
openmdao/docs/_build/
openmdao/docs/srcdocs/usr/
openmdao/docs/srcdocs/dev/
openmdao/docs/srcdocs/packages/
openmdao/docs/srcdocs/index.rst
*testflo_report.out
