*.pyc
*~
.DS_Store
.dropbox
.idea
wingproj.wpr
openmdao.egg-info/*
openmdao/docs/_build/
openmdao/docs/_srcdocs/usr/
openmdao/docs/_srcdocs/dev/
openmdao/docs/_srcdocs/packages/
openmdao/docs/_srcdocs/index.rst
*testflo_report.out
openmdao/docs/tags/
*.out
doc_plot_*
