build: off

branches:
  only:
    - master

environment:
  matrix:
    #
    # test with the latest Python 3.x/2.x and numpy/scipy releases
    #
    - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
      PYTHON: 3

    # - APPVEYOR_BUILD_WORKER_IMAGE: Ubuntu
    #   PYTHON: 3
    #   PETSc: 3.12

  encrypted_74d70a284b7d_key:
    secure: 7u/kPupG0BmwqAJOLeyGMPakwj3lqukKHXsxEP4+6aX+Huu8VH2ZkDNq6GYlaw6HGJHi2JTAal9VDgOpZc9RMlweOrXJiNFWS3Iu0chy+L4=

  encrypted_74d70a284b7d_iv:
    secure: ZvlRNZ0mVCgCzlscRSABvE8CJUdCU2oAE5AucD0GHz3iGWasTe7k6bBswulzhn18

  SNOPT_LOCATION:
    secure: BMuN2XRyyMclCtx+SGQCMNgbtSplR5GnBKRZVvotqd1SO6aNpMyh+Hqv+23+vBMFcN7te93hDiAE5+joj4R+H4sGGyeRb+khsu/sILHZaLQ=

install:
- sh: |
    if [ "$encrypted_74d70a284b7d_key" ]; then
      openssl aes-256-cbc -K $encrypted_74d70a284b7d_key -iv $encrypted_74d70a284b7d_iv -in travis_deploy_rsa.enc -out /tmp/travis_deploy_rsa -d;
      eval "$(ssh-agent -s)";
      chmod 600 /tmp/travis_deploy_rsa;
      ssh-add /tmp/travis_deploy_rsa;
      echo -e "Host web543.webfaction.com\n\tStrictHostKeyChecking no\n" >> ~/.ssh/config;
    fi

    sudo add-apt-repository ppa:ubuntu-toolchain-r/test;
    sudo apt-get update;
    sudo apt-get -y install gfortran;
    sudo apt-get -y install libblas-dev;
    sudo apt-get -y install liblapack-dev;
    sudo apt-get -y install libopenmpi-dev;
    sudo apt-get -y install openmpi-bin;

    echo ">>> Building python environment";
    echo " >> Installing conda";
    echo "  > Downloading miniconda";
    wget "https://repo.continuum.io/miniconda/Miniconda${PYTHON:0:1}-latest-Linux-x86_64.sh" -O miniconda.sh;
    chmod +x miniconda.sh;
    echo "  > Installing miniconda";
    ./miniconda.sh -b  -p $HOME/miniconda;
    export PATH=$HOME/miniconda/bin:$PATH;

    echo " >> Creating conda environment";
    conda create --yes -n PY$PYTHON python=$PYTHON;
    source $HOME/miniconda/bin/activate PY$PYTHON;

    echo " >> Installing non-pure Python dependencies from conda";
    conda install --yes numpy scipy cython swig;

    pip install --upgrade pip;

    echo " >> Installing forked python packages";
    pip install git+https://github.com/swryan/coveralls-python@work;

    echo " >> Installing pyOptSparse";
    echo "  > Cloning pyOptSparse from mdolab";
    git clone https://github.com/mdolab/pyoptsparse.git;
    cd pyoptsparse;
    git checkout tags/v1.2;

    if [ "$SNOPT_LOCATION" ] && [ "${PYTHON:0:1}" = "3" ]; then
      cd pyoptsparse/pySNOPT;
      echo "  > Secure copying SNOPT over SSH";
      scp -r "$SNOPT_LOCATION" ./source;
      cd ../..;
    fi

    echo "  > Install pyOptSparse";
    pip install -r requirements.txt;
    pip install .;
    cd ..;

    echo " >> Installing optional packages for test coverage";
    pip install psutil objgraph git+https://github.com/mdolab/pyxdsm;

    if [ "$PETSc" ]; then
      echo " >> Installing parallel processing dependencies";
      if [[ "$PETSc" == "git"* ]]; then
        pip install $PETSc;
      else
        pip install petsc4py==$PETSc;
      fi
    fi

    echo ">>> Installing OpenMDAO";
    pip install .[all];
    conda list;

- cmd: if %PYTHON% GTR 3 (set CONDA=C:\Miniconda3%PYTHON:~2%-x64) else (set CONDA=C:\Miniconda-x64)
- cmd: set PATH=%CONDA%;%CONDA%\Scripts;%PATH%
- cmd: conda config --set always_yes yes
- cmd: conda create -n PY%PYTHON% numpy scipy pip --quiet
- cmd: activate PY%PYTHON%
- cmd: pip install -e .[all]
- cmd: conda list

test_script:
- sh: testflo openmdao -n 1 --timeout=120;
- cmd: testflo openmdao -n 1 --timeout=120
