include LICENSE.txt
include README.md
include openmdao/devtools/*.wpr
include openmdao/devtools/*.html

include openmdao/devtools/problem_viewer/visualization/*.html
include openmdao/devtools/problem_viewer/visualization/libs/*.js
include openmdao/devtools/problem_viewer/visualization/src/*.js
include openmdao/devtools/problem_viewer/visualization/style/*.css
include openmdao/devtools/problem_viewer/visualization/style/*.woff