/******************* Icon styling *******************/
[class^='icon-'],
[class*=' icon-'] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-question-circle:before {
	content: '\e90d';
}

.icon-bezier-curve:before {
	content: '\e908';
}

.icon-caret-right:before {
	content: '\e909';
}

.icon-chevron-left:before {
	content: '\e90a';
}

.icon-info-circle:before {
	content: '\e90b';
}

.icon-info-circle {
	color: #42926b !important;
}

.icon-key:before {
	content: '\e90c';
}

.icon-save:before {
	content: '\e90e';
}

.icon-forward:before {
	content: '\e906';
}

.icon-forward {
	font-size: 13px !important;
}

.icon-backward:before {
	content: '\e907';
}

.icon-backward {
	font-size: 13px !important;
}

.icon-collapse-depth:before {
	content: '\e905';
}

.icon-hide-connections:before {
	content: '\e900';
}

.icon-linear-solver:before {
	content: '\e901';
}

.icon-model-height:before {
	content: '\e902';
}

.icon-nonlinear-solver:before {
	content: '\e903';
}

.icon-show-connections:before {
	content: '\e904';
}

.icon-show-connections-2:before {
	content: '\e904';
}

.icon-home2:before {
	content: '\e912';
}

.icon-floppy-disk:before {
	content: '\e962';
}

.icon-search:before {
	content: '\e986';
}

.icon-enlarge:before {
	content: '\e989';
}

.icon-shrink:before {
	content: '\e98a';
}

.icon-enlarge2:before {
	content: '\e98b';
}

.icon-shrink2:before {
	content: '\e98c';
}

.icon-text-height:before {
	content: '\ea5f';
}

[class^='icon-']:before,
[class*=' icon-']:before {
	display: inline-block;
	font: normal normal normal 14px/1 fontello;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* makes the font 33%% larger relative to the icon container */
.bigger-font {
	font-size: 1.33333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

/* To get SVG and PNG images of these icon fonts, use https://icomoon.io/app/#/select */
.icon-home:before {
	content: '\e800';
}

.icon-left-big:before {
	content: '\e801';
}

.icon-right-big:before {
	content: '\e802';
}

.icon-up-big:before {
	content: '\e803';
}

.icon-resize-full:before {
	content: '\e804';
}

.icon-resize-small:before {
	content: '\e805';
}

.icon-resize-vertical:before {
	content: '\e807';
}

.icon-floppy:before {
	content: '\e808';
}

.icon-minus:before {
	content: '\e80a';
}

.icon-exchange:before {
	content: '\f0ec';
}

.icon-terminal:before {
	content: '\f120';
}

.icon-help:before {
	content: '\f128';
}

.icon-eraser:before {
	content: '\f12d';
}

.icon-sort-number-up:before {
	content: '\f162';
}

.icon-right:before {
	content: '\f178';
}

.icon-map-signs:before {
	content: '\f277';
}
