/******************* Node Data styling *******************/
#node-info-container {
    position: absolute;
    z-index: 10;
    height: auto;
}

#node-info-table {
	overflow: hidden;
	background-color: white;
	border-radius: 10px;
	border: 1px solid #a0a0a0;
    transition: opacity 0.25s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    min-width: 200px;
    border-collapse: separate;
    opacity: .95;
}

.info-hidden {
    visibility: hidden;
}

.info-visible {
    visibility: visible;
}

#node-info-table thead th {
    background-color: #42926b;
    color: black;
    padding: 5px;
    font-size: 11pt;
}

#node-info-table tbody th {
    text-align: right;
    font-size: 9pt;
    margin-top: 0;
    border-top: 0;
    border-bottom: 1px solid #a0a0a0;
    border-right: 1px solid #a0a0a0;
    padding: 3px;
    white-space: nowrap;
}

#node-info-table tbody td {
    text-align: left;
    font-size: 9pt;
    margin-top: 0;
    margin-left: 0;
    border-top: 0;
    border-left: 0;
    border-bottom: 1px solid #a0a0a0;
    padding: 3px;
    white-space: nowrap;
}

#node-info-table tfoot th {
    background-color: #42926b;
    padding: 2px;
    font-size: 11pt;
}

.caps {
    text-transform: capitalize;
}

.info-header {
	background-color: #42926b;
}

.info-header p {
	color: white;
	text-align: center;
}

.node-data-cursor {
    cursor: context-menu;
}

#node-info-pin {
    position: absolute;
    top: 5px;
    right: 8px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 12px;
    background: #ccc;
    width: 18px;
    height: 18px;
    padding: 0 2px 0 2px;
    /* box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2); */
    border-radius: 3px;
}

#node-info-pin:hover {
    top: 4px;
    right: 9px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}