input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

body {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: helvetica, sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
}

#ptN2ContentDivId {
	display: flex;
}

#all_pt_n2_content_div {
	position: absolute;
	width: 100vw;
	z-index: 5;
}

.content-container {
	display: flex;
	flex: 1;
}

#d3_content_div {
	display: flex;
	flex: 1;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow-y: scroll;
	position: relative;
	margin-left: -75px; /* Start with toolbar hidden */
	transition: margin-left 0.4s;
}

.path_string {
	font-family: 'Courier New', Courier;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 20px;
}

.component_connectivity {
	font-family: helvetica, Courier;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 20px;
}

.ptN2ChartClass {
	position: absolute;
	top: 5px;
	left: 30px;
	z-index: 2;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 9999;
	/* Sit on top */
	padding-top: 100px;
	/* Location of the box */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	font-family: helvetica, sans-serif;
	font-size: 14px;
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@font-face {
	/* Subset of fonts from Font Awesome v4.6.3 created using http://fontello.com/ */
	font-family: 'fontello';
	src: url('data:application/font-woff;charset=utf-8;base64,{{fontello}}')
		format('woff');
}


.context-menu {
	display: none;
	position: absolute;
	z-index: 10;
	padding: 12px 0;
	width: 240px;
	background-color: #fff;
	border: solid 1px #dfdfdf;
	box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
	display: block;
}

.context-menu__items {
	list-style: none;
	margin: 0;
	padding: 0;
}

.context-menu__item {
	display: block;
	margin-bottom: 4px;
}

.context-menu__item:last-child {
	margin-bottom: 0;
}

.context-menu__link {
	display: block;
	padding: 4px 12px;
	color: #0066aa;
	text-decoration: none;
}

.context-menu__link:hover {
	color: #fff;
	background-color: #0066aa;
}

.tool-tip {
	z-index: 10;
	font-size: 11px;
	padding: 5;
	background-color: #fff;
	border: solid 1px #dfdfdf;
}

div.offgrid {
	z-index: 10;
	font-size: 11px;
	padding: 5;
	background-color: #fff;
	border: solid 1px #dfdfdf;
	position: absolute;
	opacity: 0.7;
}


/* The Close Button */
.close {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	font-family: helvetica, sans-serif;
	font-size: 20px;
	padding: 2px 16px;
	background-color: steelblue;
	color: white;
	margin: 2px;
	padding: 10px;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	font-family: helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 16px;
	background-color: steelblue;
	color: white;
	margin: 2px;
	padding: 10px;
}
