input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

body {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

#all_pt_n2_content_div {
    position: absolute;
    width: 100vw;
    z-index: 5;
}

#ptN2ContentDivId {
    display: flex;
    flex: 0 0 auto;
}

#d3_content_div {
    display: flex;
    flex: auto;
    height: 100vh;
    align-items: flex-start;
    justify-content: baseline;
    overflow: auto;
    position: relative;
    margin-left: -75px;
    transition: margin-left 0.4s;
}

#svgDiv {
    position: absolute;
    top: 5px;
    left: 30px;
    z-index: 2;
    display: flex;
    overflow: visible;
}

#svgId {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex: 0 0 auto;
    transform-origin: 0 0;
}

#n2-resizer-box {
    position: absolute;
    right: -3px;
}

.inactive-resizer-box {
    visibility: visible;
    left: auto;
    border: 3px solid transparent;
    pointer-events: none;
}

.active-resizer-box {
    left: -3px;
    visibility: visible;
    border: 3px dashed #98daba;
    pointer-events: initial;
}

.hidden-resizer-box {
    visibility: hidden;
}

#n2-resizer-handle {
    position: absolute;
    margin: 0;
    height: 18px;
    cursor: nwse-resize;
    pointer-events: initial;
    overflow: hidden;
}

.inactive-resizer-handle::before {
    content: '\25a8';
}

.inactive-resizer-handle {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 1) 55%, rgba(255, 255, 255, 1) 100%);
    font-size: 20px;
    right: 0;
    bottom: 0px;
    border: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    width: 18px;
    padding: 0;
}

.inactive-resizer-handle-without-solvers::before {
    content: '\25a8';
}

.inactive-resizer-handle-without-solvers {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 54%, rgba(0, 0, 0, 1) 55%, rgba(0, 0, 0, 1) 100%);
    right: 13px;
    bottom: 1px;
    font-size: 20px;
    border: 0;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    font-weight: bold;
    text-align: right;
    vertical-align: bottom;
    width: 18px;
    padding: 0;
}

.active-resizer-handle {
    background: #98daba;
    border: 1px solid #98daba;
    border-bottom-right-radius: 0;
    color: #006000;
    font-size: 9pt;
    align-items: center;
    display: flex;
    width: auto;
    padding: 1px 5px 1px 5px;
}

@font-face {
    font-family: 'N2ToolbarIcons';
    src: url('data:application/font-woff;charset=utf-8;base64,{{n2toolbar-icons}}') format('woff');
}

.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 12px 0;
    width: 240px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}

.tool-tip {
    z-index: 10000;
    font-size: 11px;
    padding: 5;
    background-color: #fff;
    border: solid 1px #dfdfdf;
}

div.offgrid {
    z-index: 10;
    font-size: 11px;
    padding: 5;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    position: absolute;
    opacity: 0.7;
}

.toolbar-help {
    width: auto;
    height: auto;
    padding: 0px 20px;
}

#logo-container {
    position: absolute;
    width: 70px;
    height: 60px;
    border-radius: 35px;
    background-color: white;
    opacity: 30%;
    bottom: 15px;
    right: 15px;
    z-index: 15;
    pointer-events: none;
}

#company-logo {
    position: absolute;
    max-width: 50px;
    height: 30px;
    left: 50%;
    margin-left: -25px;
    top: 50%;
    margin-top: -15px;
    pointer-events: none;
}

rect.diagHighlight {
    fill: black !important;
}

rect.inputHighlight {
    fill: salmon !important;
}

rect.outputHighlight {
    fill: seagreen !important;
}

.no-show {
    display: none;
}

.show {
    display: block;
}

#waiting-icon {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: .7;
}

#waiting-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 999990;
    background: none;
}

.opt-vars {
    fill: #c5b0d5 !important;
}

#show-error-button-container {
    visibility: hidden;
    position: absolute;
    bottom: 17px;
    right: 115px;
    z-index:5;
}

#show-error-button{
    background-color: red;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: underline;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}