#n2-windows {
    position: absolute;
    width: 100vw;
    height: 100vw;
}

#n2-windows div {
    position: absolute;
}

.main-window {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.window-contents {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.window-inactive {
    display: none;
}

.window-draggable-header {
    cursor: grab;
}

/* vvvvvvvvvv Begin N2 Window resizing styles vvvvvvvvvv */
:root {
    --resize-overflow: -2px;
    --resize-edge-size: 5px;
    --resize-corner-size: 10px;
}

.resize {
    top: var(--resize-overflow);
    left: var(--resize-overflow);
    right: var(--resize-overflow);
    bottom: var(--resize-overflow);
    display: block;
    opacity: 0;
    pointer-events: none;
}

.resize>div {
    pointer-events: auto;
}

.rsz-horizontal {
    height: var(--resize-edge-size);
    left: var(--resize-corner-size);
    right: var(--resize-corner-size);
}
.rsz-horizontal:hover { cursor: ns-resize; }

.rsz-top { top: 0; }
.rsz-bottom { bottom: 0; }

.rsz-vertical {
    width: var(--resize-edge-size);
    top: var(--resize-corner-size);
    bottom: var(--resize-corner-size);
}
.rsz-vertical:hover { cursor: ew-resize; }

.rsz-right { right: 0; }
.rsz-left { left: 0; }

.rsz-corner {
    height: var(--resize-corner-size);
    width: var(--resize-corner-size);
}

.rsz-top-right { top: 0; right: 0; cursor: nesw-resize; }
.rsz-bottom-right { bottom: 0; right: 0; cursor: nwse-resize; }
.rsz-bottom-left { bottom: 0; left: 0; cursor: nesw-resize; }
.rsz-top-left { top: 0; left: 0; cursor: nwse-resize; }

/* ^^^^^^^^^^ End N2 Window resizing styles ^^^^^^^^^^ */


/* vvvvvvvvvv Begin Default N2 Window theme vvvvvvvvvv */
.window-theme-default {
    --header-height: 30px;
    --footer-height: 30px;
    --outer-color: #42926b;

    background-color: white;
    border: 1px solid #a0a0a0;
    transition: opacity 0.25s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);

    border-radius: 10px;
    overflow: hidden;
}

.window-theme-default>.window-header {
    background-color: var(--outer-color);
    margin: 0;
    font-size: 11pt;
    text-align: right;
    white-space: nowrap;
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
}

.window-theme-default>.window-close-button::before {
    content: '\2715'
}

.window-theme-default>.window-close-button {
    color: none;
    opacity: 0.5;
    text-shadow: -0.5px -0.5px 0.5px black, 0.5px 0.5px 0.5px white;
    position: absolute;
    top: 0px;
    right: 8px;
    cursor: pointer;
    margin: 0;
    font-size: 12pt;
    font-weight: bold;
    line-height: var(--header-height);
    padding: 0;
}

.window-theme-default>.window-close-button:hover,
.window-theme-default>.window-close-button:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.window-theme-default>.window-header>.window-title {
    color: white;
    display: block;
    font-weight: bold;
    line-height: var(--header-height);
    position: relative;

    /* Stuff to prevent title bar from being too long */
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    direction: rtl;
    text-align: center;
    margin-left: 15px;
    margin-right: 25px;
}

.window-theme-default>.window-body {
    color: black;
    border: 0;
    margin: 0;
    padding: 0;

    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: var(--footer-height);
}

.window-theme-default>.window-footer {
    background-color: var(--outer-color);
    color: white;

    height: var(--footer-height);
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ^^^^^^^^^^ End Default N2 Window theme ^^^^^^^^^^ */

/* vvvvvvvvvv Begin N2 Window resizing styles vvvvvvvvvv */
:root {
    --resize-overflow: -2px;
    --resize-edge-size: 5px;
    --resize-corner-size: 10px;
}

.resize {
    top: var(--resize-overflow);
    left: var(--resize-overflow);
    right: var(--resize-overflow);
    bottom: var(--resize-overflow);
    display: block;
    opacity: 0;
    pointer-events: none;
}

.resize>div {
    pointer-events: auto;
}

.rsz-horizontal {
    height: var(--resize-edge-size);
    left: var(--resize-corner-size);
    right: var(--resize-corner-size);
}
.rsz-horizontal:hover { cursor: ns-resize; }

.rsz-top { top: 0; }
.rsz-bottom { bottom: 0; }

.rsz-vertical {
    width: var(--resize-edge-size);
    top: var(--resize-corner-size);
    bottom: var(--resize-corner-size);
}
.rsz-vertical:hover { cursor: ew-resize; }

.rsz-right { right: 0; }
.rsz-left { left: 0; }

.rsz-corner {
    height: var(--resize-corner-size);
    width: var(--resize-corner-size);
}

.rsz-top-right { top: 0; right: 0; cursor: nesw-resize; }
.rsz-bottom-right { bottom: 0; right: 0; cursor: nwse-resize; }
.rsz-bottom-left { bottom: 0; left: 0; cursor: nesw-resize; }
.rsz-top-left { top: 0; left: 0; cursor: nwse-resize; }

/* ^^^^^^^^^^ End N2 Window resizing styles ^^^^^^^^^^ */


/* vvvvvvvvvv Begin Node Info N2 Window theme vvvvvvvvvv */
.window-theme-node-info {
    --header-height: 26px;
    --footer-height: 15px;
    --outer-color: #42926b;

    background-color: white;
    border: 1px solid #a0a0a0;
    transition: opacity 0.25s;
    box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.window-theme-node-info>.window-header {
    background-color: var(--outer-color);
    margin: 0;
    font-size: 11pt;
    text-align: right;
    white-space: nowrap;
    height: var(--header-height);
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
}

.window-theme-node-info>.window-close-button::before {
    content: '\2715'
}

.window-theme-node-info>.window-close-button {
    color: none;
    opacity: 0.7;
    text-shadow: -0.5px -0.5px 0.5px black, 0.5px 0.5px 0.5px white;
    position: absolute;
    top: 0px;
    right: 8px;
    cursor: pointer;
    margin: 0;
    font-size: 12pt;
    font-weight: bold;
    line-height: var(--header-height);
    padding: 0;
}

.window-theme-node-info>.window-close-button:hover,
.window-theme-node-info>.window-close-button:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
}

.window-theme-node-info>.window-header>.window-title {
    color: white;
    display: block;
    font-weight: bold;
    line-height: var(--header-height);
    position: relative;

    /* Stuff to prevent title bar from being too long */
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    direction: rtl;
    text-align: center;
    margin-left: 15px;
    margin-right: 25px;
}

.window-theme-node-info>.window-body {
    color: black;
    border: 0;
    margin: 0;
    padding: 0;

    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: var(--footer-height);
}

.window-theme-node-info>.window-footer {
    background-color: var(--outer-color);
    color: white;

    height: var(--footer-height);
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
}

/* ^^^^^^^^^^ End Node Info N2 Window theme ^^^^^^^^^^ */