
.icon-start:before { content: '\e800'; } /* '' */
.icon-stop:before { content: '\e801'; } /* '' */
.icon-step-next:before { content: '\e803'; } /* '' */
.icon-step-prev:before { content: '\e804'; } /* '' */