# Run OpenMDAO tests on latest/pre-release versions
name: OpenMDAO Latest

on:

  # Run the workflow every Monday and Thursday at 0400 UTC
  schedule:
    - cron: '0 4 * * 1,4'

  # Allow running the workflow manually from the Actions tab
  workflow_dispatch:

   inputs:
      run_name:
        description: 'Name of workflow run as it will appear under Actions tab (optional):'
        type: string
        required: false
        default: ''
      job_name:
        description: 'Select a job from the matrix to run (default: all jobs)'
        type: choice
        options:
          - ''
          - 'Ubuntu Latest'
          - 'MacOS Latest'
        required: false
        default: ''
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        type: boolean
        required: false
        default: false

run-name:  ${{ inputs.run_name }}

permissions: {}

jobs:

  tests:

    timeout-minutes: 120

    strategy:
      fail-fast: false
      matrix:
        include:
          # test latest versions on ubuntu
          - NAME: Ubuntu Latest
            OS: ubuntu-latest
            PY: 3
            NUMPY: 2
            PETSc: true

          # test latest versions on macos
          - NAME: MacOS Latest
            OS: macos-latest
            PY: 3
            NUMPY: 2
            PETSc: true

    runs-on: ${{ matrix.OS }}

    name: ${{ matrix.NAME }}

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Display run details
        run: |
          echo "============================================================="
          echo "Run #${GITHUB_RUN_NUMBER}"
          echo "Run ID: ${GITHUB_RUN_ID}"
          echo "Testing: ${GITHUB_REPOSITORY}"
          echo "Branch: ${GITHUB_BASE_REF}"
          echo "Triggered by: ${GITHUB_EVENT_NAME}"
          echo "Initiated by: ${GITHUB_ACTOR}"
          echo "============================================================="

      - name: Exit if this job was not selected
        if: github.event_name == 'workflow_dispatch' &&  inputs.job_name != '' &&  inputs.job_name != matrix.NAME
        uses: actions/github-script@v8
        with:
          script: core.setFailed('The ${{ matrix.NAME }} job was not included in the run, exiting...');

      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup conda
        uses: conda-incubator/setup-miniconda@v3
        with:
          python-version: ${{ matrix.PY }}
          miniforge-version: latest
          conda-remove-defaults: true
          channels: conda-forge

      - name: Install MacOS-specific dependencies
        if: matrix.OS == 'macos-13'
        run: |
          conda install compilers swig

      - name: Install NumPy/SciPy
        run: |
          echo "============================================================="
          echo "Install latest versions of NumPy/SciPy"
          echo "============================================================="
          python -m pip install --upgrade --pre "numpy>=${{ matrix.NUMPY }}"
          python -m pip install --upgrade --pre scipy

          # remember versions so we can check them later
          NUMPY_VER=`python -c "import numpy; print(numpy.__version__)"`
          SCIPY_VER=`python -c "import scipy; print(scipy.__version__)"`
          echo "NUMPY_VER=$NUMPY_VER" >> $GITHUB_ENV
          echo "SCIPY_VER=$SCIPY_VER" >> $GITHUB_ENV

      - name: Install PETSc
        if: ${{ matrix.PETSC }}
        run: |
          echo "============================================================="
          echo "Install latest PETSc"
          echo "============================================================="
          conda install mpich mpi4py petsc4py=3.22.2 -q -y

          echo "============================================================="
          echo "Check MPI and PETSc installation"
          echo "============================================================="
          export PRTE_MCA_rmaps_default_mapping_policy=:oversubscribe
          export OMPI_MCA_rmaps_base_oversubscribe=1
          export OMPI_MCA_btl=^openib

          echo "export PRTE_MCA_rmaps_default_mapping_policy=:oversubscribe" >> $GITHUB_ENV
          echo "OMPI_MCA_rmaps_base_oversubscribe=1" >> $GITHUB_ENV
          echo "OMPI_MCA_btl=^openib" >> $GITHUB_ENV

          echo "-----------------------"
          echo "Quick test of mpi4py:"
          mpirun -n 3 python -c "from mpi4py import MPI; print(f'Rank: {MPI.COMM_WORLD.rank}')"
          echo "-----------------------"
          echo "Quick test of petsc4py:"
          mpirun -n 3 python -c "import numpy; from mpi4py import MPI; comm = MPI.COMM_WORLD; \
                              import petsc4py; petsc4py.init(); \
                              x = petsc4py.PETSc.Vec().createWithArray(numpy.ones(5)*comm.rank, comm=comm);  \
                              print(x.getArray())"
          echo "-----------------------"

      - name: Install latest versions of [all] openmdao dependencies
        run: |
          source .github/scripts/install_latest_deps.sh

      - name: Install OpenMDAO
        run: |
          echo "============================================================="
          echo "Install OpenMDAO"
          echo "============================================================="
          python -m pip install .

      - name: Display environment info
        id: env_info
        if: always()
        continue-on-error: true
        run: |
          conda info
          conda list

          echo "============================================================="
          echo "Check installed versions of Python, Numpy and Scipy"
          echo "============================================================="
          echo 'errors<<EOF' >> "$GITHUB_OUTPUT"

          FINAL_VER=$(python -c "import platform; print(platform.python_version())")
          if [[ ! "$FINAL_VER" == "${{ matrix.PY }}"* ]]; then
            echo "Python version was changed from ${{ matrix.PY }} to $FINAL_VER" >> "$GITHUB_OUTPUT"
          fi

          FINAL_VER=$(python -c "import numpy; print(numpy.__version__)")
          if [[ ! "$FINAL_VER" == "$NUMPY_VER"* ]]; then
            echo "NumPy version was changed from $NUMPY_VER to $FINAL_VER" >> "$GITHUB_OUTPUT"
          fi

          FINAL_VER=$(python -c "import scipy; print(scipy.__version__)")
          if [[ ! "$FINAL_VER" == "$SCIPY_VER"* ]]; then
            echo "SciPy version was changed from $SCIPY_VER to $FINAL_VER" >> "$GITHUB_OUTPUT"
          fi

          echo 'EOF' >> "$GITHUB_OUTPUT"

          grep changed "$GITHUB_OUTPUT" || echo ""

      # Enable tmate debugging of manually-triggered workflows if the input option was provided
      #
      # To access the terminal through the web-interface:
      #    1. Click on the web-browser link printed out in this action from the github
      #       workflow terminal
      #    2. Press cntrl + c in the new tab that opens up to reveal the terminal
      #    3. To activate the conda environment run:
      #        $ source $CONDA/etc/profile.d/conda.sh
      #        $ conda activate test
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: ${{ github.event_name == 'workflow_dispatch' && inputs.debug_enabled }}
        with:
          limit-access-to-actor: true

      - name: Run tests
        id: run_tests
        continue-on-error: true
        run: |
          echo "============================================================="
          echo "Run tests (from directory other than repo root)"
          echo "============================================================="
          cd "$HOME"
          RPT_FILE=$(pwd)/deprecations.txt
          echo "RPT_FILE=$RPT_FILE" >> "$GITHUB_ENV"
          testflo -n 1 openmdao --timeout=240 --deprecations_report="$RPT_FILE" --exclude=test_warnings_filters

      - name: Deprecations Report
        id: deprecations_report
        continue-on-error: true
        run: |
          echo "============================================================="
          echo "Display deprecations report"
          echo "============================================================="
          cat "$RPT_FILE"

          echo 'summary<<EOF' >> "$GITHUB_OUTPUT"
          head -n 6 "$RPT_FILE" | cut -d':' -f 1 >> "$GITHUB_OUTPUT"
          echo 'EOF' >> "$GITHUB_OUTPUT"

          grep '^0 unique deprecation warnings' "$RPT_FILE"

      - name: Slack env change
        if: steps.env_info.outputs.errors != ''
        uses: act10ns/slack@v2.0.0
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: 'warning'
          message: |
            Environment change detected on `${{ matrix.NAME }}` build.
            Python, NumPy or SciPy was not the requested version:
            ```${{steps.env_info.outputs.errors}}```
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Slack unit test failure
        if: steps.run_tests.outcome == 'failure'
        uses: act10ns/slack@v2.0.0
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: ${{ steps.run_tests.outcome }}
          message:
            Unit testing failed on `${{ matrix.NAME }}` build.
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Slack deprecation warnings
        if: steps.deprecations_report.outcome == 'failure'
        uses: act10ns/slack@v2.0.0
        with:
          webhook-url: ${{ secrets.SLACK_WEBHOOK_URL }}
          status: 'warning'
          message: |
            Deprecations were detected on `${{ matrix.NAME }}` build.
            ```${{ steps.deprecations_report.outputs.summary }}```
            ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

      - name: Fail the workflow if tests or doc build failed
        if: steps.run_tests.outcome == 'failure'
        uses: actions/github-script@v8
        with:
          script: |
              let test_fail = ${{ steps.run_tests.outcome == 'failure' }};
              if (test_fail) {
                  core.setFailed('Tests failed.');
              }
