# Publish release to PyPi

name: Publish Release

on:
  # Trigger on release, to publish release packages to PyPI
  release:
    types: [published]

  # Run the workflow manually
  # This might be useful if the automated publish fails for some reason (use with CARE!!)
  workflow_dispatch:

jobs:
  pypi-publish:
    name: Upload release to PyPI
    runs-on: ubuntu-latest

    environment: release

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: deps
        run: python -m pip install -U hatch

      - name: build
        run: hatch build

      - name: Publish package distributions to PyPI (v1.12.4)
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc

  test-pypi-release:
    name: Test OpenMDAO PyPi Release
    needs: [pypi-publish]
    runs-on: ubuntu-latest

    steps:
    - uses: benc-uk/workflow-dispatch@v1
      with:
        workflow: OpenMDAO Tests
        repo: ${{ github.repository_owner }}/OpenMDAO
        inputs: >
          {
            "run_name": "Test OpenMDAO PyPi release",
            "use_pypi": true
           }
        token: ${{ secrets.ACCESS_TOKEN }}
      if: github.event_name == 'release'
